<%- include('header') %>

<!--Content-->
<header class="pt-3 pb-3 mt-3 mb-3 text-center text-bg-dark">
    <h1>FAQs</h1>
</header>
<div class="container" id="FAQs">
    <h2 class="text-center pt-2 pb-2">Welcome! If you have any questions about our website, start here!</h2>
    <ul>
        <li class="pt-3">
            <h4><strong>Q:</strong> What is PCDragon exactly?</h4>
            Hello! We are a small company (more like a family!) of tech entusiasts and we provide and mantain a
            platform where anyone can buy and/or sell computer components. We like to keep our prices competitive,
            while mantaining high standards of quality.
        </li>
        <li class="pt-3">
            <h4><strong>Q:</strong> How do I become a seller?</h4>
            When you make an account, just tick the box "I'm a seller".
        </li>
        <li class="pt-3">
            <h4><strong>Q:</strong> How can I get a refund?</h4>
            If the product you ordered is defective, or is different from what you ordered, you can get a refund by
            emailing us directly. We will handle the process for you! Refunds usually happen in a few work days.
        </li>
        <li class="pt-3">
            <h4><strong>Q:</strong> Why did my review get deleted?</h4>
            We delete reviews that do not conform to <a href="#guidelines">our guidelines</a>. You can appeal the
            deletion by <a href="mailto:pcdragon@gmail.com">emailing</a> us.
        </li>
        <li class="pt-3">
            <h4><strong>Q:</strong> How long does shipping take?</h4>
            Shipping usually takes less than a week from the moment of purchase. We will inform you if there are
            complication during shipping, and eventually issue a refund.
        </li>
        <li class="pt-3">
            <h4><strong>Q:</strong> The product I was looking to buy is currently sold out. When will it be
                available again?</h4>
            Restocking times depend on the seller. If the product is sold by us directly, usually it will be
            available again in a few work days (less than a week). If it's sold by another seller, you can contact
            them in order to know when it will be available again. In any case, we will send you an email to let you
            know.
        </li>
        <li class="pt-3">
            <h4><strong>Q:</strong> How can I keep up with your updates?</h4>
            We are on Twitter, Instagram and Facebook, we post all updates regarding our website and upcoming
            products there! Links are at the bottom of the page.
        </li>
        <li class="pt-3">
            <h4><strong>Q:</strong> Where can I ask questions about a product or service?</h4>
            You can ask us on our social media or send us an <a href="mailto:pcdragon@gmail.com">email</a>.
        </li>
    </ul>
</div>

<header class="pt-3 pb-3 mt-5 mb-3 text-center text-bg-dark" id="guidelines">
    <h1>Community Guidelines</h1>
</header>
<div class="container">
    <h2 class="text-center pt-2 pb-2">We at PCDragon strive to create a safe space for everyone, while encouraging
        healthy and helpful discussion.</h2>
    <ul>
        <li class="pt-3">
            <h5>Reviews should be helpful and informative.</h5>
            Reviews are meant to be a guide for potential buyers. Keep a civil tone and stay on topic.
        </li>
        <li class="pt-3">
            <h5>There is no place for discrimination on our platform.</h5>
            We shun any form of discrimination, and will take action against it.
        </li>
        <li class="pt-3">
            <h5>Do not spam.</h5>
            Spamming and in the reviews is not allowed, be it ads for other websites/platforms, inane comments or
            multiple reviews on a single product.
        </li>
        <li class="pt-3">
            <h5>Respect the privacy of others.</h5>
            Don't post private information about other users.
        </li>
        <li class="pt-3">
            <h5>If you are a seller, only sell what you REALLY have.</h5>
            It is forbidden to sell more than what you currently have in stock, or to sell a product for another.
            These actions will result in a permanent ban.
        </li>
        <li class="pt-3">
            <h5>Respect the administrators.</h5>
            We are here to help, and we want to ensure safe browsing for everyone.
        </li>
    </ul>
</div>

<%- include('footer') %>