<%- include('header') %>
<section class="mt-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between align-items-center d-md-none py-4">
            <h3 class="fs-5 mb-0">Account Settings</h3>
            <button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3 " type="button"
              data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount" aria-controls="offcanvasAccount">
              <i class="fa-solid fa-bars"></i>
            </button>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12 border-end border-secondary d-none d-md-block align-items-center">
          <div class="pt-10 pe-lg-10">
            <ul class="nav flex-column nav-pills nav-pills-dark">
              <li class="nav-item">
                <a class="nav-link text-dark" aria-current="page" href=""><i class="fa-solid fa-cart-shopping"></i>
                  Your Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href=""><i class="fa-solid fa-gear"></i> Settings</a>
              </li>
              <li class="nav-item">
                <hr>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9 col-md-8 col-12 ps-5">
          <div class="py-6 p-md-6 p-lg-10">
            <h2 class="mb-6">Your Orders</h2>
            <div class="table-responsive-xxl border-0">
              <table class="table mb-0 text-nowrap table-centered">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>Product</th>
                    <th>Order</th>
                    <th>Date</th>
                    <th>Items</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="align-middle border-top-0 w-0">
                      <a href="product.html"> <img src="media/AMD_Ryzen_5_3600.jpg" height="70" width="70"
                          class="img-thumbnail"></a>
                    </td>
                    <td class="align-middle border-top-0">
                      <a href="#" class="fw-semi-bold text-inherit">
                        <h6 class="mb-0">AMD Ryzen 5 3600</h6>
                      </a>
                    </td>
                    <td class="align-middle border-top-0">
                      <a href="#" class="text-inherit">#14658
                      </a>
                    </td>
                    <td class="align-middle border-top-0">
                      May 9, 2023
                    </td>
                    <td class="align-middle border-top-0">
                      2
                    </td>
                    <td class="align-middle border-top-0">
                      <span class="badge bg-success">Completed</span>
                    </td>
                    <td class="align-middle border-top-0">
                      €199.00
                    </td>
                  </tr>

                  <tr>
                    <td class="align-middle border-top-0 w-0">
                      <a href="#"> <img src="media/AMD_Ryzen_5_3600.jpg" height="70" width="70"
                          class="img-thumbnail"></a>
                    </td>
                    <td class="align-middle border-top-0">
                      <a href="#" class="fw-semi-bold text-inherit">
                        <h6 class="mb-0">AMD Ryzen 5 3600</h6>
                      </a>
                    </td>
                    <td class="align-middle border-top-0">
                      <a href="#" class="text-inherit">#14658
                      </a>
                    </td>
                    <td class="align-middle border-top-0">
                      May 9, 2023
                    </td>
                    <td class="align-middle border-top-0">
                      2
                    </td>
                    <td class="align-middle border-top-0">
                      <span class="badge bg-success">Completed</span>
                    </td>
                    <td class="align-middle border-top-0">
                      €199.00
                    </td>
                  </tr>

                  <tr>
                    <td class="align-middle border-top-0 w-0">
                      <a href="#"> <img src="media/AMD_Ryzen_5_3600.jpg" height="70" width="70"
                          class="img-thumbnail"></a>
                    </td>
                    <td class="align-middle border-top-0">
                      <a href="#" class="fw-semi-bold text-inherit">
                        <h6 class="mb-0">AMD Ryzen 5 3600</h6>
                      </a>
                    </td>
                    <td class="align-middle border-top-0">
                      <a href="#" class="text-inherit">#14658
                      </a>
                    </td>
                    <td class="align-middle border-top-0">
                      May 9, 2023
                    </td>
                    <td class="align-middle border-top-0">
                      2
                    </td>
                    <td class="align-middle border-top-0">
                      <span class="badge bg-success">Completed</span>
                    </td>
                    <td class="align-middle border-top-0">
                      €199.00
                    </td>
                  </tr>

                  <tr>
                    <td class="align-middle border-top-0 w-0">
                      <a href="#"> <img src="media/AMD_Ryzen_5_3600.jpg" height="70" width="70"
                          class="img-thumbnail"></a>
                    </td>
                    <td class="align-middle border-top-0">
                      <a href="#" class="fw-semi-bold text-inherit">
                        <h6 class="mb-0">AMD Ryzen 5 3600</h6>
                      </a>
                    </td>
                    <td class="align-middle border-top-0">
                      <a href="#" class="text-inherit">#14658
                      </a>
                    </td>
                    <td class="align-middle border-top-0">
                      May 9, 2023
                    </td>
                    <td class="align-middle border-top-0">
                      2
                    </td>
                    <td class="align-middle border-top-0">
                      <span class="badge bg-success">Completed</span>
                    </td>
                    <td class="align-middle border-top-0">
                      €199.00
                    </td>
                  </tr>

                  <tr>
                    <td class="align-middle border-top-0 w-0">
                      <a href="#"> <img src="media/AMD_Ryzen_5_3600.jpg" height="70" width="70"
                          class="img-thumbnail"></a>
                    </td>
                    <td class="align-middle border-top-0">
                      <a href="#" class="fw-semi-bold text-inherit">
                        <h6 class="mb-0">AMD Ryzen 5 3600</h6>
                      </a>
                    </td>
                    <td class="align-middle border-top-0">
                      <a href="#" class="text-inherit">#14658
                      </a>
                    </td>
                    <td class="align-middle border-top-0">
                      May 9, 2023
                    </td>
                    <td class="align-middle border-top-0">
                      2
                    </td>
                    <td class="align-middle border-top-0">
                      <span class="badge bg-success">Completed</span>
                    </td>
                    <td class="align-middle border-top-0">
                      €199.00
                    </td>
                  </tr>

                  <tr>
                    <td class="align-middle border-top-0 w-0">
                      <a href="#"> <img src="media/AMD_Ryzen_5_3600.jpg" height="70" width="70"
                          class="img-thumbnail"></a>
                    </td>
                    <td class="align-middle border-top-0">
                      <a href="#" class="fw-semi-bold text-inherit">
                        <h6 class="mb-0">AMD Ryzen 5 3600</h6>
                      </a>
                    </td>
                    <td class="align-middle border-top-0">
                      <a href="#" class="text-inherit">#14658
                      </a>
                    </td>
                    <td class="align-middle border-top-0">
                      May 9, 2023
                    </td>
                    <td class="align-middle border-top-0">
                      2
                    </td>
                    <td class="align-middle border-top-0">
                      <span class="badge bg-success">Completed</span>
                    </td>
                    <td class="align-middle border-top-0">
                      €199.00
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  </section>
<%- include('footer') %>